{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "edge": "17",
          "firefox": "60",
          "chrome": "67",
          "safari": "11.1"
        },
        "useBuiltIns": "usage" // 按需注⼊
      }
    ], // polyfill
    "@babel/preset-react" // react
  ],
  "plugins": [
    // [
    //   "@babel/plugin-transform-runtime",
    //   {
    //     "absoluteRuntime": false,
    //     "corejs": 2,
    //     "helpers": true,
    //     "regenerator": true,
    //     "useESModules": false
    //   }
    // ], // transform-runtime
    "@babel/plugin-syntax-dynamic-import"
  ]
} // polyfill和transform-runtime二选一